[SalesForce]
url =
username =
password =
token =

[Slack]
monitor_hook_url =

[calendar]
schedule =
on-call =

[www]
favicon =

[misc]
shift_status_json_url =
monitor_poll_minutes = 5
monitor_group_name =
